node_modules/
coverage/
classes/
proxy_class/
proxy/
.idea/
*.jar
!bin/libs/fastjson-*.jar
!bin/libs/log4j-*.jar
!bin/libs/astparser.jar
.DS_Store
.nyc_output/

**/run/*.json
.tmp
.vscode
.cache
*.log
package-lock.json

assembly/
mocks_data/proxy/**/__*